@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --font-size: 18px;
    
    --poppins: 'Poppins', sans-serif;
    --poppins-weight: 600;

    --open-sans: 'Open Sans', sans-serif;
    --open-sans-normal-weight: 400;
    --open-sans-bold-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

