@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --font-size: 18px;
    
    --poppins: 'Poppins', sans-serif;
    --poppins-weight: 600;

    --open-sans: 'Open Sans', sans-serif;
    --open-sans-normal-weight: 400;
    --open-sans-bold-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--open-sans);
    font-weight: var(--open-sans-normal-weight);
    font-size: var(--font-size);
    color: var(--Very-Dark-Cyan);
    background-color: #fff;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--poppins);
    font-weight: var(--poppins-weight);
}

h1 {
    font-size: 300%;
    margin: 30px 0;
}

h2 {
    font-size: 150%;
    margin: 20px 0;
}

p {
    word-spacing: 5px;
    line-height: 21px;
}

.page-container {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

/********************************btn*******************************/

.btn {
    display: inline-block;
    padding: 16px 65px;
    border-radius: 30px;
    font-size: 80%;
    text-decoration: none;
    font-weight: var(--open-sans-bold-weight);
}

.btn-nav {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgb(214, 214, 214);
}

.btn-pink {
    background-color: var(--Pink);
    box-shadow: 0px 3px 10px rgb(172, 172, 172);
    color: #fff;
}

/******************************************************************/


/******************************header******************************/

header {
    background-color: var(--Very-Pale-Cyan);
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    height: 120px;

    display: grid;
    grid-template-columns: 220px 1fr 210px;
    grid-template-rows: 100%;
}

nav img {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: flex-end;
    align-self: center;

    width: 220px;
    height: auto;
}

nav a {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: flex-start;
    align-self: center;

    color: var(--Very-Dark-Cyan);
    font-weight: var(--open-sans-bold-weight);
}

.header-content {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 80px;

    margin-top: 30px;
}

.header-content img {
    width: 90%;
    height: auto;

    align-self: center;
}

.header-content div {
    justify-self: flex-start;
    align-self: center;
}

.header-content div a {
    margin-top: 20px;
}

/******************************************************************/
/******************************main********************************/

main {
    margin: 100px auto 0px auto !important;
    height: auto;
    width: auto;
}

.box-module {
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 0px 5px rgb(231, 231, 231);
    background-color: #fff;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 350px;

    max-width: 1200px;
    min-width: 900px;
    margin: 50px auto;
}

.box-module div {
    width: 70%;
    margin: 0 auto;
    align-self: center;
}

.box-module div p {
    color: var(--Grayish-Blue);
}

.box-module img {
    width: 340px;
    height: auto;
    align-self: center;
    justify-self: center;
}

#secend-box {
    grid-template-columns: 40% 60%;
}

.box-contact {
    background-color: #fff;
    width: 650px;
    height: 220px;

    display: inline-block;
    position: relative;
    left: 50%;
    top: 220px; /*temp*/
    transform: translate(-50%, -50%);

    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 0px 5px rgb(231, 231, 231);
    border-radius: 15px;
}

.box-contact h2 {
    text-align: center;
    padding: 25px 0 15px 0;
}

.box-contact a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/******************************************************************/
/******************************footer******************************/

footer {
    background-color: var(--Very-Dark-Cyan);
    height: 500px;
}

.footer-content {
    display: grid;
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: 50px 200px;
    grid-gap: 10px;

    position: relative;
    top: 60%;
    transform: translate(0%, -50%);

    color: #fff;
    font-size: 70%;
}

#logo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    
    width: 180px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.text-and-icon {
    width: 80%;

    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 20px;
}

.text-and-icon img {
    position: relative;
    top: 8px;
}

.footer-text {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 15px;
}

.social-media-icons div a {
    text-decoration: none;
    color: #fff;
}

.social-media-icons div a ion-icon {
    width: 20px;
    height: 20px;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
}

.social-media-icons p {
    font-size: 80%;
    position: absolute;
    bottom: 0;
}

/******************************************************************/
